<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="paginainicial.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Top Filmes</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="logo">Top Filmes</li>
                <li class="item1"><a routerLink="/"><i class="fa-solid fa-house"></i></a></li>
            </ul>
        </nav>
        <div class="icones-redesocial">
        <nav>
            <ul>
                <li class="item1"><a href="https://www.youtube.com/@PEDROZKGAMER"><img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/575/small/youtube-logo-youtube-icon-transparent-free-png.png"></a></li>
                <li class="item1"><a href="https://www.instagram.com/pedrozkgamer/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"></a></li>
                <li class="item1"><a href="https://www.tiktok.com/@pedrozkgamer"><img src="https://static.vecteezy.com/system/resources/previews/018/930/470/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"></a></li>
                <li class="item1"><a href="https://www.facebook.com/PEDROZKGAMER/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/476/non_2x/facebook-logo-facebook-icon-transparent-free-png.png"></a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="content">
        <h1>Tops gêneros de filmes para assistir em 2024!</h1>
        <div class="significado1">
            <p>Bem-vindo(a) ao guia de filmes essenciais para 2024! Este site reúne os gêneros de filmes mais populares para você assistir este ano. Navegue pelos gêneros, explore os filmes recomendados, e descubra novas aventuras, emoções e histórias para acompanhar.<br>Selecione seu gênero favorito e comece sua maratona!</p>
        </div>
        <h3>Selecione um dos tópicos abaixo:</h3>
        <div class="generos">
        <nav>
          <ul>
            <li class="item1">
              <p>Terror</p>
              <a routerLink="/terror"> 
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQRS9hycezA9oJljT8MPqWUNi2oof_OIZQtXcvL0wgRJfdxZWspk45naAsy-2scent5sSrGOp7kaK0CFaPFOVPA0SRTW6wad1XJsTWVazc">
              </a>
            </li>
            <li class="item1">
              <p>Comédia</p>
              <a routerLink="/comedia">
                <img src="https://cinema10.com.br/upload/noticias/2021-2/837be8d0.jpeg">
              </a>
            </li>
            <li class="item1">
              <p>Científica</p>
              <a routerLink="/ficcao">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH5FcyqmKs7yOd6t3865ujt0TJZvEVfBp1rw&s">
              </a>
            </li>
            <li class="item1">
              <p>Romance</p>
              <a routerLink="/romance">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUrspoinz3K42XLs4lVeg3x2qQbPcky3yZWw&s">
              </a>
            </li>
            <li class="item1">
              <p>Mistério</p>
              <a routerLink="/misterio">
                <img src="https://static.todamateria.com.br/upload/sh/er/sherlock-holmes-og.jpg?class=ogImageWide">
              </a>
            </li>
            <li class="item1">
              <p>Ação</p>
              <a routerLink="/acao">
                <img src="https://media.gettyimages.com/id/1203004147/pt/foto/los-angeles-the-movie-terminator-2-judgment-day-directed-by-james-cameron-seen-here-from-left.jpg?s=612x612&w=gi&k=20&c=iQBhU_yrHzbKFMyAxkDRA3FcMOe1zwmHsHaGDrbenEg=">
              </a>
            </li>
          </ul>
      </nav>
  </div>
        <div class="significado2">
            <p><strong>Terror:</strong> Prepare-se para momentos de tensão e adrenalina! Os filmes de terror de 2024 trazem novos vilões, cenários assustadores e histórias sombrias que vão te deixar sem fôlego. 
            <br><br><strong>Romance:</strong> Descubra histórias de amor e encontros inesquecíveis. Em 2024, os filmes de romance exploram desde relacionamentos complicados até conexões inesperadas. 
            <br><br><strong>Comédia:</strong> Dê boas risadas com os lançamentos de comédia do ano! Com enredos divertidos e personagens excêntricos, esses filmes são perfeitos para aliviar o estresse. 
            <br><br><strong>Mistério:</strong> Pronto para desvendar mistérios e quebra-cabeças? Os filmes de mistério de 2024 prometem intrigar com enredos envolventes e reviravoltas surpreendentes.
            <br><br><strong>Ficção Científica:</strong> Viagens espaciais, futuros distópicos e tecnologia avançada! A ficção científica deste ano explora o desconhecido e desafia as fronteiras do que é possível.
            <br><br><strong>Ação:</strong> o ritmo com cenas de perseguições, lutas e aventuras épicas. Os filmes de ação de 2024 vêm com produções empolgantes e cheias de adrenalina.</p>
        </div>
    </div>
</div>
<footer>
  <p>Top Filmes</p>
  <p>© 2024 Top Filmes | Desenvolvido por Pedro e Júlio</p>
  <div class="icones-redesocialp">
  <nav>
    <ul>
      <li class="item1"><a href="https://www.youtube.com/@PEDROZKGAMER"><img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/575/small/youtube-logo-youtube-icon-transparent-free-png.png"></a></li>
      <li class="item1"><a href="https://www.instagram.com/pedrozkgamer/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"></a></li>
      <li class="item1"><a href="https://www.tiktok.com/@pedrozkgamer"><img src="https://static.vecteezy.com/system/resources/previews/018/930/470/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"></a></li>
      <li class="item1"><a href="https://www.facebook.com/PEDROZKGAMER/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/476/non_2x/facebook-logo-facebook-icon-transparent-free-png.png"></a></li>
    </ul>
  </nav>
  </div>
</footer>    
</body>
</html>
