<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="generocomedia.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Pagina inicial top films</title>
</head>
<body>
  <header>
    <nav>
        <ul>
            <li class="logo">Top Filmes</li>
            <li class="item1"><a href="app.component.html"><i class="fa-solid fa-house"></i></a></li>
        </ul>
    </nav>
    <div class="icones-redesocial">
    <nav>
        <ul>
            <li class="item1"><a href="https://www.youtube.com/@PEDROZKGAMER"><img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/575/small/youtube-logo-youtube-icon-transparent-free-png.png"></a></li>
            <li class="item1"><a href="https://www.instagram.com/pedrozkgamer/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"></a></li>
            <li class="item1"><a href="https://www.tiktok.com/@pedrozkgamer"><img src="https://static.vecteezy.com/system/resources/previews/018/930/470/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"></a></li>
            <li class="item1"><a href="https://www.facebook.com/PEDROZKGAMER/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/476/non_2x/facebook-logo-facebook-icon-transparent-free-png.png"></a></li>
        </ul>
    </nav>
</div>
</header>
  <div class="container">
  <div class="content">
      <h1>Genero Comédia</h1><br><br>
      <img class="imagem" src="https://www.guiadasemana.com.br/contentFiles/system/pictures/2014/12/125278/cropped/mr-bean.jpg">
      <p>A comédia é um gênero artístico que busca provocar o riso em seu público através de situações engraçadas, diálogos espirituosos e personagens excêntricos. Seja no teatro, no cinema, na televisão ou na literatura, a comédia está presente em nossas vidas há séculos, proporcionando momentos de leveza e diversão.</p><br>
      
      <section>
        <h2>Monty Python e o Cálice Sagrado (1975)</h2>
        <figure>
          <img class="imagemfilme1" src="https://br.web.img3.acsta.net/medias/nmedia/18/94/90/64/20364110.jpg" alt="Poster do filme O Exorcista">
          <figcaption>Dirigido por William Friedkin, "O Exorcista" é um dos filmes de terror mais influentes de todos os tempos. Baseado no romance de William Peter Blatty, a história segue a luta de uma mãe para salvar sua filha, Regan, que foi possuída por um demônio. O filme é conhecido por suas cenas perturbadoras e sua atmosfera de crescente tensão, que culmina em um confronto aterrorizante entre o demônio e os padres exorcistas. Com efeitos especiais inovadores para a época e uma performance icônica de Linda Blair, "O Exorcista" é um marco no gênero, criando um medo psicológico duradouro.</figcaption>
        </figure>
        <br><br><br><br><br><br><br>
      </section>


      <section>
        <br><br><br><br><br><br><br><h2>2° lugar: Se Beber, Não Case!" (2009)</h2>
        <figure>
          <img class="imagemfilme2" src="https://play-lh.googleusercontent.com/vaUQFY-v9IkDclMcpqb2o3On9csvI1I4fl_wS7-IdoxdMkzClv3mtweZbon2Mpo_Zqddaw" alt="Poster do filme O Exorcista">
          <figcaption>Dirigido por Todd Phillips, este filme de comédia de situação gira em torno de um grupo de amigos que viaja para Las Vegas para a despedida de solteiro de um deles. Após uma noite de festa selvagem, eles acordam sem lembrar de nada e descobrem que o noivo desapareceu. O filme segue o grupo enquanto tentam reconstruir os eventos da noite anterior e encontrar o noivo antes do casamento. Conhecido por seu humor irreverente e situações cada vez mais hilárias, o filme catapultou as carreiras de seus protagonistas, como Bradley Cooper e Zach Galifianakis, e gerou duas sequências.</figcaption>
        </figure>
        <br><br><br><br><br><br><br>
      </section>

      <section>
        <br><br><br><br><br><br><br><h2>3° lugar: Os Caça-Fantasmas (1984)</h2>
        <figure>
          <img class="imagemfilme3" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT5ekNGQdcAmm5EdI5diWfaMm0aNAIkIIq9HG3PS1ACEorLAhZkRJ43AuQpE2eufHw5kLn2HOYkxT2LI9halyyKpOOIb1fMO3Q_UzNOhQ">
          <figcaption> Dirigido por Ivan Reitman, "Os Caça-Fantasmas" mistura comédia e ficção científica de maneira genial. O filme segue um grupo de cientistas (interpretados por Bill Murray, Dan Aykroyd e Harold Ramis) que criam um serviço para capturar fantasmas em Nova York. O humor irreverente, o excelente elenco e a mistura de elementos de terror e comédia criaram um filme que continua a ser adorado por fãs de todas as idades. "Os Caça-Fantasmas" também é um exemplo perfeito de como um filme de comédia pode se tornar um grande sucesso de bilheteira enquanto permanece fiel ao seu tom irreverente e divertido.</figcaption>
        </figure>
      </section>
</div>
  </div>
  <footer>
    <p>Top Films</p>
    <p>© 2024 Top Filmes | Desenvolvido por Pedro e Júlio</p>
    <div class="icones-redesocialp">
    <nav>
      <ul>
        <li class="item1"><a href="https://www.youtube.com/@PEDROZKGAMER"><img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/575/small/youtube-logo-youtube-icon-transparent-free-png.png"></a></li>
        <li class="item1"><a href="https://www.instagram.com/pedrozkgamer/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"></a></li>
        <li class="item1"><a href="https://www.tiktok.com/@pedrozkgamer"><img src="https://static.vecteezy.com/system/resources/previews/018/930/470/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"></a></li>
        <li class="item1"><a href="https://www.facebook.com/PEDROZKGAMER/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/476/non_2x/facebook-logo-facebook-icon-transparent-free-png.png"></a></li>
      </ul>
    </nav>
    </div>
  </footer>
</body>
</html>