<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="generoacao.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Pagina inicial top films</title>
</head>
<body>
  <header>
    <nav>
        <ul>
            <li class="logo">Top Filmes</li>
            <li class="item1"><a href="app.component.html"><i class="fa-solid fa-house"></i></a></li>
        </ul>
    </nav>
    <div class="icones-redesocial">
    <nav>
        <ul>
            <li class="item1"><a href="https://www.youtube.com/@PEDROZKGAMER"><img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/575/small/youtube-logo-youtube-icon-transparent-free-png.png"></a></li>
            <li class="item1"><a href="https://www.instagram.com/pedrozkgamer/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"></a></li>
            <li class="item1"><a href="https://www.tiktok.com/@pedrozkgamer"><img src="https://static.vecteezy.com/system/resources/previews/018/930/470/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"></a></li>
            <li class="item1"><a href="https://www.facebook.com/PEDROZKGAMER/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/476/non_2x/facebook-logo-facebook-icon-transparent-free-png.png"></a></li>
        </ul>
    </nav>
</div>
</header>
  <div class="container">
  <div class="content">
      <h1>Genero Ação</h1><br><br>
      <img class="imagem" src="https://s2-techtudo.glbimg.com/Y31IleO9-WcicKisptrvUChLCws=/0x0:1920x1080/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2024/x/g/1sBrOaRtARQCoJZyXWnA/3q01acg0mwm0dekhvkpfcxypzsu.jpg">
      <p>A comédia é um gênero artístico que busca provocar o riso em seu público através de situações engraçadas, diálogos espirituosos e personagens excêntricos. Seja no teatro, no cinema, na televisão ou na literatura, a comédia está presente em nossas vidas há séculos, proporcionando momentos de leveza e diversão.</p><br>
      
      <section>
        <h2>1° lugar: Mad Max: Fury Road (2015):</h2>
        <figure>
          <img class="imagemfilme1" src="https://upload.wikimedia.org/wikipedia/en/6/6e/Mad_Max_Fury_Road.jpg" alt="Poster do filme O Exorcista">
          <figcaption>Dirigido por George Miller, "Mad Max: Fury Road" é um filme pós-apocalíptico cheio de ação frenética e visual impressionante. Ambientado em um futuro devastado, a história segue Max (Tom Hardy), um homem marcado pelo trauma, que se junta a Imperatriz Furiosa (Charlize Theron) em uma fuga desesperada de um tirano. O filme é notável por suas cenas de perseguição de carros e explosões, além de seu estilo visual único, com efeitos práticos e muito pouca CGI. A história é simples, mas a intensidade e o ritmo imbatível o tornam uma obra-prima do gênero.</figcaption>
        </figure>
        <br><br><br><br><br><br><br>
      </section>


      <section>
        <br><br><br><br><br><br><br><h2>2° lugar: O Exterminador do Futuro 2</h2>
        <figure>
          <img class="imagemfilme2" src="https://br.web.img2.acsta.net/medias/nmedia/18/92/91/08/20224693.jpg">
          <figcaption>O Julgamento Final" (1991): Dirigido por James Cameron, este filme é a sequência de "O Exterminador do Futuro" (1984) e é amplamente considerado um dos maiores filmes de ação de todos os tempos. Arnold Schwarzenegger retorna como o imortal Terminator, mas desta vez ele é um protetor, enviado do futuro para proteger John Connor (Edward Furlong), o líder da resistência humana contra as máquinas. O filme mistura ação intensa com temas de inteligência artificial, destino e humanidade, e é conhecido por seus efeitos especiais inovadores, como o T-1000, um exterminador de metal líquido.</figcaption>
        </figure>
        <br><br><br><br><br><br><br>
      </section>

      <section>
        <br><br><br><br><br><br><br><h2>3° lugar: Duro de Matar (1988):</h2>
        <figure>
          <img class="imagemfilme3" src="https://upload.wikimedia.org/wikipedia/pt/2/2a/Die_hard_poster_promocional.png">
          <figcaption> Dirigido por John McTiernan, "Duro de Matar" segue o policial de Nova York, John McClane (Bruce Willis), que se encontra preso em um arranha-céu em Los Angeles durante uma tomada de refém por terroristas. Com a habilidade de improvise e seu sarcasmo característico, McClane se torna o único que pode salvar os reféns. O filme é notável pela combinação de suspense, ação e humor, e pelo carisma de Willis no papel de McClane. "Duro de Matar" transformou-se em um clássico do gênero e é frequentemente considerado o melhor filme de ação de todos os tempos.</figcaption>
        </figure>
      </section>
</div>
  </div>
  <footer>
    <p>Top Films</p>
    <p>© 2024 Top Filmes | Desenvolvido por Pedro e Júlio</p>
    <div class="icones-redesocialp">
    <nav>
      <ul>
        <li class="item1"><a href="https://www.youtube.com/@PEDROZKGAMER"><img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/575/small/youtube-logo-youtube-icon-transparent-free-png.png"></a></li>
        <li class="item1"><a href="https://www.instagram.com/pedrozkgamer/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"></a></li>
        <li class="item1"><a href="https://www.tiktok.com/@pedrozkgamer"><img src="https://static.vecteezy.com/system/resources/previews/018/930/470/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"></a></li>
        <li class="item1"><a href="https://www.facebook.com/PEDROZKGAMER/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/476/non_2x/facebook-logo-facebook-icon-transparent-free-png.png"></a></li>
      </ul>
    </nav>
    </div>
  </footer>
</body>
</html>