<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="generoterror.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Pagina inicial top films</title>
</head>
<body>
  <header>
    <nav>
        <ul>
            <li class="logo">Top Filmes</li>
            <li class="item1"><a href="app.component.html"><i class="fa-solid fa-house"></i></a></li>
        </ul>
    </nav>
    <div class="icones-redesocial">
    <nav>
        <ul>
            <li class="item1"><a href="https://www.youtube.com/@PEDROZKGAMER"><img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/575/small/youtube-logo-youtube-icon-transparent-free-png.png"></a></li>
            <li class="item1"><a href="https://www.instagram.com/pedrozkgamer/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"></a></li>
            <li class="item1"><a href="https://www.tiktok.com/@pedrozkgamer"><img src="https://static.vecteezy.com/system/resources/previews/018/930/470/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"></a></li>
            <li class="item1"><a href="https://www.facebook.com/PEDROZKGAMER/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/476/non_2x/facebook-logo-facebook-icon-transparent-free-png.png"></a></li>
        </ul>
    </nav>
</div>
</header>
  <div class="container">
  <div class="content">
      <h1>Genero terror</h1><br><br>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkFIJvGdMeW_IuThAG6ueKJuGO8EqKh5XIMg&s">
      <p>O gênero de filme de terror é um dos mais antigos e populares dentro da indústria cinematográfica. Seu principal objetivo é provocar medo, tensão e ansiedade no espectador, através de elementos como o suspense, o sobrenatural, monstros, violência ou situações de grande perigo. Esse gênero se caracteriza por explorar os medos mais profundos da natureza humana, sendo uma forma de enfrentar nossos temores em um ambiente controlado, como o cinema.</p><br>
      
      <section>
        <h2>O Exorcista (1973)</h2>
        <figure>
          <img class="imagemfilme1" src="https://upload.wikimedia.org/wikipedia/pt/a/a6/The_Exorcist_1973.jpg" alt="Poster do filme O Exorcista">
          <figcaption>Dirigido por William Friedkin, "O Exorcista" é um dos filmes de terror mais influentes de todos os tempos. Baseado no romance de William Peter Blatty, a história segue a luta de uma mãe para salvar sua filha, Regan, que foi possuída por um demônio. O filme é conhecido por suas cenas perturbadoras e sua atmosfera de crescente tensão, que culmina em um confronto aterrorizante entre o demônio e os padres exorcistas. Com efeitos especiais inovadores para a época e uma performance icônica de Linda Blair, "O Exorcista" é um marco no gênero, criando um medo psicológico duradouro.</figcaption>
        </figure>
        <br><br><br><br><br><br><br>
      </section>


      <section>
        <h2>2° lugar: O Iluminado (1980):</h2>
        <figure>
          <img class="imagemfilme2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTb0IIZEnXGf6T6oKNauAgOcRbkWY_Ri2ipJA&s" alt="Poster do filme O Exorcista">
          <figcaption>Dirigido por Stanley Kubrick e baseado no romance de Stephen King, "O Iluminado" é um clássico do terror psicológico. A história segue Jack Torrance (Jack Nicholson), um escritor que aceita um emprego como zelador de inverno em um hotel isolado nas montanhas com sua esposa e filho. Quando o isolamento e a força sobrenatural do hotel começam a afetar sua sanidade, Jack se torna uma ameaça para sua família. Com uma direção meticulosa e a performance inesquecível de Nicholson, o filme mergulha o público em uma atmosfera de tensão crescente, onde o medo psicológico é tão aterrorizante quanto o sobrenatural.br</figcaption>
        </figure>
        <br><br><br><br><br><br><br>
      </section>

      <section>
        <h2>3° lugar: Hereditary (2018):</h2>
        <figure>
          <img class="imagemfilme3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZyf_PkJN2l5Xq7wOFLozbamtP-ctktTNqZA&s">
          <figcaption>Dirigido por Ari Aster, "Hereditary" é um terror psicológico que se destaca por seu enredo angustiante e por criar um terror profundo baseado em trauma familiar. A história segue uma família que começa a enfrentar acontecimentos sobrenaturais após a morte da matriarca. À medida que segredos sombrios da família são revelados, a tensão se intensifica, levando a uma série de eventos cada vez mais perturbadores. Com uma excelente performance de Toni Collette e uma trama que mistura o sobrenatural com o psicológico, "Hereditary" se tornou um dos filmes de terror mais aclamados da última década, sendo reconhecido por seu impacto emocional e sua atmosfera de terror psicológico.</figcaption>
        </figure>
      </section>
</div>
  </div>
  <footer>
    <p>Top Films</p>
    <p>© 2024 Top Filmes | Desenvolvido por Pedro e Júlio</p>
    <div class="icones-redesocialp">
    <nav>
      <ul>
        <li class="item1"><a href="https://www.youtube.com/@PEDROZKGAMER"><img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/575/small/youtube-logo-youtube-icon-transparent-free-png.png"></a></li>
        <li class="item1"><a href="https://www.instagram.com/pedrozkgamer/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"></a></li>
        <li class="item1"><a href="https://www.tiktok.com/@pedrozkgamer"><img src="https://static.vecteezy.com/system/resources/previews/018/930/470/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"></a></li>
        <li class="item1"><a href="https://www.facebook.com/PEDROZKGAMER/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/476/non_2x/facebook-logo-facebook-icon-transparent-free-png.png"></a></li>
      </ul>
    </nav>
    </div>
  </footer>
</body>
</html>