<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="generoromance.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Pagina inicial top films</title>
</head>
<body>
  <header>
    <nav>
        <ul>
            <li class="logo">Top Filmes</li>
            <li class="item1"><a href="app.component.html"><i class="fa-solid fa-house"></i></a></li>
        </ul>
    </nav>
    <div class="icones-redesocial">
    <nav>
        <ul>
            <li class="item1"><a href="https://www.youtube.com/@PEDROZKGAMER"><img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/575/small/youtube-logo-youtube-icon-transparent-free-png.png"></a></li>
            <li class="item1"><a href="https://www.instagram.com/pedrozkgamer/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"></a></li>
            <li class="item1"><a href="https://www.tiktok.com/@pedrozkgamer"><img src="https://static.vecteezy.com/system/resources/previews/018/930/470/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"></a></li>
            <li class="item1"><a href="https://www.facebook.com/PEDROZKGAMER/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/476/non_2x/facebook-logo-facebook-icon-transparent-free-png.png"></a></li>
        </ul>
    </nav>
</div>
</header>
  <div class="container">
  <div class="content">
      <h1>Genero Romance</h1><br><br>
      <img class="imagem" src="https://s2-techtudo.glbimg.com/M45P88Zj79S0FzmQ-Mm96up81DA=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/D/5/P6eLIyTjuI2MAvEAkODg/orgulho.png">
      <p>O romance é um gênero literário que nos convida a mergulhar em histórias de amor, paixão, desejo e as complexidades das relações humanas. É um gênero rico e diversificado, capaz de emocionar, inspirar e fazer com que nos identifiquemos com os personagens e suas experiências.</p><br>
      
      <section>
        <h2>Titanic (1997)</h2>
        <figure>
          <img class="imagemfilme1" src="https://br.web.img2.acsta.net/medias/nmedia/18/89/56/94/20055685.jpg">
          <figcaption> Um dos romances mais icônicos da história do cinema, "Titanic" conta a história de Jack (Leonardo DiCaprio) e Rose (Kate Winslet), dois jovens de classes sociais diferentes que se apaixonam durante a viagem do infame navio Titanic. Enquanto o romance se desenrola, o navio colide com um iceberg, criando um cenário dramático e emocionante. O filme combina uma história de amor épica com um evento histórico real, sendo aclamado por sua grandiosidade e tragédia. O amor entre Jack e Rose é imortalizado pela famosa cena na ponta do navio e pela música tema, "My Heart Will Go On", de Celine Dion.</figcaption>
        </figure>
        <br><br><br><br><br><br><br>
      </section>


      <section>
        <br><br><br><br><br><br><br><h2>2° lugar: Um Lugar Chamado Notting Hill" (1999)</h2>
        <figure>
          <img class="imagemfilme2" src="https://br.web.img2.acsta.net/medias/nmedia/18/91/21/99/20135051.jpg">
          <figcaption>Esta comédia romântica britânica conta a história de William Thacker (Hugh Grant), um dono de livraria em Notting Hill, que se apaixona por Anna Scott (Julia Roberts), uma famosa atriz de Hollywood. O filme é encantador por mostrar como o amor pode surgir em circunstâncias improváveis e como o relacionamento entre pessoas de mundos completamente diferentes pode enfrentar obstáculos. A química entre os protagonistas, o cenário encantador de Londres e diálogos divertidos tornaram este filme um dos favoritos dos fãs de romance.</figcaption>
        </figure>
        <br><br><br><br><br><br><br>
      </section>

      <section>
        <br><br><br><br><br><br><br><h2>3° lugar: Como Eu Era Antes de Você (2016)</h2>
        <figure>
          <img class="imagemfilme3" src="https://play-lh.googleusercontent.com/JQKfopRtWqyD1cUXjx4V00qLnKecgKlSTS6sL0YX1T0H4bzyOK8SxdQIUbZ6NTsKfkBm">
          <figcaption>  Baseado no best-seller de Jojo Moyes, *"Como Eu Era Antes de Você"* segue a história de Louisa Clark (Emilia Clarke), uma jovem que aceita o emprego de cuidadora de Will Traynor (Sam Claflin), um homem que ficou tetraplégico após um acidente. Ao longo da história, eles desenvolvem um relacionamento profundo e emocional, explorando temas como escolhas de vida, sofrimento e a complexidade do amor. O filme, embora repleto de momentos emocionantes e sensíveis, também levanta questões difíceis sobre qualidade de vida e decisões pessoais.</figcaption>
        </figure>
      </section>
</div>
  </div>
  <footer>
    <p>Top Films</p>
    <p>© 2024 Top Filmes | Desenvolvido por Pedro e Júlio</p>
    <div class="icones-redesocialp">
    <nav>
      <ul>
        <li class="item1"><a href="https://www.youtube.com/@PEDROZKGAMER"><img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/575/small/youtube-logo-youtube-icon-transparent-free-png.png"></a></li>
        <li class="item1"><a href="https://www.instagram.com/pedrozkgamer/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"></a></li>
        <li class="item1"><a href="https://www.tiktok.com/@pedrozkgamer"><img src="https://static.vecteezy.com/system/resources/previews/018/930/470/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"></a></li>
        <li class="item1"><a href="https://www.facebook.com/PEDROZKGAMER/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/476/non_2x/facebook-logo-facebook-icon-transparent-free-png.png"></a></li>
      </ul>
    </nav>
    </div>
  </footer>
</body>
</html>