body{
    background-color: gray;
}


/*Cabeçalho*/
header {
    display: flex;
    background-color: green;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}
  
@media (max-width: 768px) {
header {
    flex-direction: column;
}
.logo {
    text-align: center;
}
nav ul {
    flex-direction: column;
}
}
  
header nav {
    justify-content: space-between;
    align-items: center;
}
  
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
header nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
}
  
.logo {
    font-size: 28px;
    color: #f7c142;
    font-family: 'Brush Script MT', cursive;
    display: flex;
    align-items: center;
}
  
/*ícones de rede social*/
.icones-redesocial img{
    height: 65px;
    width: 65px;
}
  .icones-redesocial {
    display: flex;
    gap: 10px;
}
  
.icones-redesocial a {
    color: #f7c142;
    font-size: 24px;
}
  
/*Efeitos*/
.item1 {
    transition: transform 0.3s ease, filter 0.3s ease;
}
  
.item1:hover {
    transform: scale(1.2);
}
  
/*Home*/ 
.fa-solid{
    font-size: 45px;
    text-align: center;
    margin: 20px;
    color: black;
}

.fa-house{
    width: 80px;
}

.container{
    display: flex;
    padding: 15px;
}

/*Conteúdo do site*/
.content{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    align-items: center;
}

.content img{
    border-radius: 10px;
}

.nome-dos-filmes1{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imagemfilme1{
    width: 40%;
    height: 30%;
    float: left;
    margin: 10px;
    
}

.sobrefilme1{
    font-size: 20px;
    text-align: left;
}

.nome-dos-filmes2{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imagemfilme2{
    width: 40%;
    height: 20%;
    float: left;
    margin: 10px;
    
}

.sobrefilme2{
    font-size: 20px;
    text-align: left;
}

/*Efeitos*/
.item1 {
    transition: transform 0.3s ease, filter 0.3s ease;
}
  
.item1:hover {
    transform: scale(1.2);
}

/*Rodapé*/
footer {
    min-height: 100px;
    color: #f7c142;
    text-align: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    background-color: green;
}
  
.footer-content {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}
  
.footer-content h3 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    color: #f7c142;
}
  
.icones-redesocialp img {
    height: 50px;
    width: 50px;
}
  
.footer-bottom {
    border-top: 1px solid #d8d6d6;
    padding-top: 10px;
    font-size: 14px;
    color: #d8d6d6;
}

footer nav ul{
    list-style: none;
    display: flex;
    padding: 10px;
}

.icones-redesocialp img{
    width: 75px;
    height: 75px;
}