<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="generoterror.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Pagina inicial top films</title>
</head>
<body>
  <header>
    <nav>
        <ul>
            <li class="logo">Top Filmes</li>
            <li class="item1"><a href="app.component.html"><i class="fa-solid fa-house"></i></a></li>
        </ul>
    </nav>
    <div class="icones-redesocial">
    <nav>
        <ul>
            <li class="item1"><a href="https://www.youtube.com/@PEDROZKGAMER"><img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/575/small/youtube-logo-youtube-icon-transparent-free-png.png"></a></li>
            <li class="item1"><a href="https://www.instagram.com/pedrozkgamer/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"></a></li>
            <li class="item1"><a href="https://www.tiktok.com/@pedrozkgamer"><img src="https://static.vecteezy.com/system/resources/previews/018/930/470/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"></a></li>
            <li class="item1"><a href="https://www.facebook.com/PEDROZKGAMER/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/476/non_2x/facebook-logo-facebook-icon-transparent-free-png.png"></a></li>
        </ul>
    </nav>
</div>
</header>
  <div class="container">
  <div class="content">
      <h1>Genero terror</h1><br><br>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkFIJvGdMeW_IuThAG6ueKJuGO8EqKh5XIMg&s">
      <p>O gênero de filme de terror é um dos mais antigos e populares dentro da indústria cinematográfica. Seu principal objetivo é provocar medo, tensão e ansiedade no espectador, através de elementos como o suspense, o sobrenatural, monstros, violência ou situações de grande perigo. Esse gênero se caracteriza por explorar os medos mais profundos da natureza humana, sendo uma forma de enfrentar nossos temores em um ambiente controlado, como o cinema.</p><br>
      
      <p class="nome-dos-filmes1">1° lugar: Entrevista com o Demônio:</p>
      <img class="imagemfilme1" src="https://ingresso-a.akamaihd.net/prd/img/movie/entrevista-com-o-demonio/dd2d7e67-b890-483b-9223-18cc463169ee.webp">
      <p class="sobrefilme1">Entrevista com o Demônio é um longa-metragem de terror que conta sobre o apresentador de um programa de televisão dos anos 70, Jack Delroy (David Dastmalchian), que está tentando recuperar a audiência do seu programa, resultado da sua desmotivação com o trabalho após a trágica morte de sua esposa. Desesperado por recuperar o seu sucesso de volta, Jack planeja um <br>
      Especial de Halloween de 1977 prometendo e com esperanças de ser inesquecível. Mas, o que era para ser uma noite de diversão, transformou-se em um pesadelo ao vivo. O que ele não imaginava é que está prestes a desencadear forças malignas que ameaçam a sua vida e a de todos os envolvidos no programa.</p><br><br><br><br>

      <p class="nome-dos-filmes2">2° lugar: Five Night at Freeds - O pesadelo sem fim.</p>
      <img class="imagemfilme2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQynFeIpJz9x03NUJxg7tpNJR-3oqBFwlTKWQ&s">
      <p class="sobrefilme2">Five Nights At Freddy's - O Pesadelo Sem Fim é a primeira adaptação cinematográfica da famosa franquia homônima de jogos lançada em 2014 e criada por Scott Cawthon. Dirigido por Emma Tammi (Terra Assombrada, Fair Chase), a história se passa em um restaurante familiar tipicamente americano chamado Freddy Fazbear's Pizza, que está atualmente desativado, e acompanha Mike Schmidt (Josh Hutcherson), um jovem que está passando por alguns problemas financeiros. Felizmente, ele vê a resposta para seus problemas ao ser contratado para trabalhar como o vigia noturno da pizzaria.</p>
</div>
  </div>
  <footer>
    <p>Top Films</p>
    <p>© 2024 Top Filmes | Desenvolvido por Pedro e Júlio</p>
    <div class="icones-redesocialp">
    <nav>
      <ul>
        <li class="item1"><a href="https://www.youtube.com/@PEDROZKGAMER"><img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/575/small/youtube-logo-youtube-icon-transparent-free-png.png"></a></li>
        <li class="item1"><a href="https://www.instagram.com/pedrozkgamer/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"></a></li>
        <li class="item1"><a href="https://www.tiktok.com/@pedrozkgamer"><img src="https://static.vecteezy.com/system/resources/previews/018/930/470/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"></a></li>
        <li class="item1"><a href="https://www.facebook.com/PEDROZKGAMER/"><img src="https://static.vecteezy.com/system/resources/previews/018/930/476/non_2x/facebook-logo-facebook-icon-transparent-free-png.png"></a></li>
      </ul>
    </nav>
    </div>
  </footer>
</body>
</html>